<?xml version="1.0" encoding="utf-8"?>
<project name="MyTask" basedir="." default="jar">
	
    <property name="lib">${basedir}/lib</property>
    <property name="version">1.0</property>
    
    <path id="master-classpath">
      <fileset dir="${lib}">
        <include name="*.jar"/>
      </fileset>

      <pathelement path="${build.dir}"/>
    </path>

    <target name="compile" description="Compiles the Task">
        <javac destdir="${basedir}/bin">
            <src path="${basedir}/src" />
            <classpath refid="master-classpath"/>
        </javac>
    </target>
	
	<target name="use" description="Use the Task" depends="jar">
        <taskdef name="cloudfront" classpath="aws-ant-task-${version}.jar" classname="it.corley.ant.CloudFront" />
        <cloudfront key="your-key" secret="your-secret" distributionId="your-distribution">
        	<delete path="/prod/scripts/icm/order.js"/>
        </cloudfront>
    </target>
</project>